.container {
  padding: 5px;
}

.nav {
  display: inline-block;
}

.nav .btn {
  width: 200px;
  height: 40px;
  margin: 0 15px;
  border: 1px solid #ececec;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
  font-size: 20px;
}

.nav .btn-highchart {
  background: darkslategray;
}

.nav .btn-highchart:focus, .nav .btn-highchart:hover, .nav .btn-highchart.active {
  background: darkolivegreen;
}
/* Default style */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: white;
  height: 100px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
